# Idea files we don't want to share
.idea/deployment.xml

# Idea generated cmake files
cmake-build-*/

# Generic run directory
run/

# Default cmake build files
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# CRUST executable
crust

# libcyaml files
libcyaml/